{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'real_estate/styles.css' %}">
    </head>

    <body>
        <header>
            <!-- Nav bar | I can import it from another of my projects, gallas.pythonanywhere -->
        </header>
        <div>
            <!-- Mensagens -->
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        </div>

        {% block content %}
        {% endblock %}
        
    </body>
</html>