{% extends "real_estate/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<main>
    <h1>Expressão de interesse</h1>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button type="submit">Submeter</button>
        </div>
    </form>

    <div>
        <strong>Após a submissão da expressão de interesse, um membro de staff entrará em contato pelo email ou telefone!</strong>
    </div>
</main>

{% endblock %}