{% extends "real_estate/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<main>
    <h1>Selecione a atividade</h1>
    <div>
        <div onclick="window.location.href='/request-management'">
            <h2>Responder solicitações</h1>
        </div>

        <div onclick="window.location.href='/view-rented/'">
            <h2>Lista de imóveis locados</h1>
        </div>

        <div onclick="window.location.href='/place-registration/'">
            <h2>Registrar imóveis</h1>
        </div>
    </div>
</main>

{% endblock %}