{% extends "real_estate/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<main>
    <!-- user registration form -->
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                {{ form|crispy }}
            </fieldset>
            <div>
                <!-- Botão -->
                <button type="submit">Sign up</button>
            </div>
        </form>
        <div>
            <!-- Já tem conta? -->
            <p>Já possui uma conta? <a href="{% url 'login' %}">Log in</a></p>
        </div>
    </div>
</main>

{% endblock %}